table, td, tr, th{
	border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    
}

th {
	border: 2px solid black;

}

button {
	margin-top: 20px;
}

tr:hover td{
	background: #94FFE4;
}

input{
	
}