main{
	display:flex;
	flex-wrap: wrap;
}

.carta{
	height: 150px;
	line-height: 150px;
	width: 100px;
	font-size: 80px;
	text-align: center;
	border: 1px solid black;
	margin: 10px;
	background-color: lightgray;
	color: black;
	/*background-image: url(http://lorempixel.com/100/150/);*/
}